.menuButton {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__title,
  &__choice button {
    text-shadow: 0px 0px 2px rgb(114 114 114);
    color: #fff;
    cursor: pointer;
    border: none;
    background-color: transparent;

    &:hover {
      color: #b29878;
    }
  }

  &__title_open {
    color: #b29878;
    text-shadow: 0px 0px 2px rgb(114 114 114);
  }
}
