.game_onLoad {
  background-image: url(../../img/photoplage.jpg);
  background-size: cover;
  height: 100svh;
  overflow: auto;
  display: flex;
  align-items: center;
  background-position: center;
  background-position-x: 55.7%;
}

.picturesBack {
  background-size: 100%;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
}

.character {
  height: 80vh;
  position: absolute;
  bottom: 3vh;
  right: 20vw;
}

@media screen and (max-width: 1000px) {
  .picturesBack {
    object-fit: cover;
    height: 50%;
  }

  .character {
    bottom: 50%;
    width: 50%;
    height: auto;
  }
}
