.buttonNext {
  &_container {
    width: 4rem;
    border-radius: 50%;
    overflow: hidden;
  }

  &_close {
    display: none;
  }
}

.hideButton {
  display: none;
}

@media screen and (max-width: 1000px) {
  .buttonNext {
    height: fit-content;

    &_container {
      height: 5rem;
      width: 4rem;
    }

    &Mobile_close {
      display: none;
    }
  }
}
