.registration {
  background-image: url(../../img/photoplage.jpg);
  background-size: cover;
  height: 100svh;
  overflow: auto;
  background-position: center;
  background-position-x: 55.7%;
  display: flex;
  align-items: center;

  &-form {
    h1 {
      font-size: 2rem;
      text-align: center;
      cursor: default;
    }

    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: auto;
    align-items: center;
    justify-content: center;
    height: 100svh;

    input {
      width: 100%;
      line-height: 2.5rem;
      margin-top: 1rem;
      font-size: 1.2rem;
      padding: 0 1rem;
      border: none;
    }

    &__submit {
      background-color: lightsalmon;
      width: 40% !important;
      border-radius: 10px;
      font-weight: bold;
      color: #fff;
      height: 4rem;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 1000px) {
  .registration {
    &-form {
      width: 80vw;

      & h1 {
        font-size: 1.8rem;
      }

      & input {
        border-radius: 5px;
      }

      &__submit {
        width: fit-content !important;
      }
    }
  }
}
